.faq-answer {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
    padding: 0 30px 20px;
    max-height: 1000px; /* Aumentado de 300px para 1000px para acomodar todo o texto */
}

.faq-item.active .toggle-icon {
    transform: rotate(45deg);
}
